.background-image {
  background-image: url('../assets/m5.png'); /* Adjust the path to your image file */
  background-size: cover; /* This will cover the entire background */
  background-repeat: no-repeat; /* This will prevent the background from repeating */
  background-attachment: fixed; /* This will fix the background image in place */
}

.mtitle {
  text-align: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 20px;
}
.open{
  text-align: center;
  color: red;
}

.center-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 20px;
  border: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerwrapper {
  padding: 20px;
}

@media (max-width: 768px) {
  .mtitle {
    padding-left: 30px;
    padding-right: 20px;
  }

  .container {
    padding-left: 30px;
    padding-right: 20px;
  }

  .center-image {
    max-width: 80%;
    /* Adjust as needed */
  }
  .background-image {
    background-image: url('../assets/m5.png'); /* Adjust the path to your image file */
    background-size: cover; /* This will cover the entire background */
    background-repeat: no-repeat; /* This will prevent the background from repeating */
    background-attachment: fixed; /* This will fix the background image in place */
  }
}
  @media (max-width: 480px) {
    .container {
      padding-left: 30px;
      padding-right: 20px;
    }

    .mtitle {
      padding-left: 30px;
      padding-right: 20px;

    }

    .center-image {
      max-width: 80%;
      /* Adjust as needed */
    }
    .background-image {
      background-image: url('../assets/m5.png'); /* Adjust the path to your image file */
      background-size: cover; /* This will cover the entire background */
      background-repeat: no-repeat; /* This will prevent the background from repeating */
      background-attachment: fixed; /* This will fix the background image in place */
    }
  }